{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}
{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  {{ 'component-localization-form.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false
      assign only_empty_brand = true
    endif
  -%}
  {%- if section.blocks.size > 0
    or section.settings.newsletter_enable
    or section.settings.show_social
    or section.settings.enable_follow_on_shop
  -%}
    
      <div class="footer__content-top tw-px-4 tw-pb-0 md:tw-px-8">
        
        <div class="
            footer__blocks-wrapper 
            md:tw-grid md:tw-grid-cols-2
            lg:tw-grid-cols-16
            lg:tw-gap-x-4
            
            {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
            {% endif %}
          >

            <div class="
              lg:tw-col-span-7
              tw-grid
              tw-gap-y-4
              md:tw-grid-rows-6
              md:tw-auto-rows-fr
              lg:tw-gap-x-4
              lg:tw-grid-rows-3
              lg:tw-grid-cols-7
            ">
              
              {%- if settings.logo != blank -%}
                <div class="
                  header__heading-logo-wrapper
                  [&_img]:tw-w-[56px]
                  max-md:tw-mb-24
                  md:tw-row-start-1 
                  md:tw-row-span-3
                  lg:tw-row-span-2
                  lg:tw-col-span-3
                  ">
                  {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                  {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                  {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                  {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                  {{ settings.logo | image_url: width: 600 | image_tag:
                    class: 'header__heading-logo motion-reduce',
                    widths: widths,
                    height: logo_height,
                    width: settings.logo_width,
                    alt: logo_alt,
                    sizes: sizes,
                    preload: true
                  }}
                </div>
              {%- else -%}
                <span class="h2">{{ shop.name }}</span>
              {%- endif -%}

              <div class="
                max-md:tw-mb-8
                md:tw-row-start-4
                lg:tw-hidden"
                >
                {%- if section.settings.show_social and has_social_icons -%}
                  {%- render 'social-icons', class: 'lg:tw-hidden tw-justify-start [&_li:nth-child(1)>:link]:tw-pl-0 [&_:link]:tw-pt-2 [&_:link]:tw-text-clickable-gray' -%}
              {%- endif -%}
              </div>
              
              <div class="
                max-lg:tw-hidden
                lg:tw-row-start-3
                lg:tw-col-span-3">
                {%- if settings.brand_description != blank -%}
                <div class="max-lg:tw-hidden tw-text-sm rte">
                  {{ settings.brand_description }}
                </div>
              {%- endif -%}
              </div>
              
              {%- if section.settings.newsletter_enable -%}
                <div class="
                  md:tw-row-start-5 
                  tw-grid 
                  tw-gap-y-6
                  lg:tw-row-start-1
                  lg:tw-col-start-4
                  lg:tw-col-span-4
                  lg:tw-gap-y-1">
                  {%- if section.settings.newsletter_heading != blank -%}
                    <p class="tw-text-sm tw-w-3/5 lg:tw-w-full tw-max-h-[33px]">{{ section.settings.newsletter_heading }}</p>
                  {%- endif -%}
                  {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form tw-max-w-full [&_div]:tw-max-w-full lg:tw-justify-start' -%}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div class="newsletter-form__field-wrapper">
                      <div class="field">
                        <input
                          id="NewsletterForm--{{ section.id }}"
                          type="email"
                          name="contact[email]"
                          class="field__input tw-bg-button-gray tw-text-blacker tw-font-heading"
                          value="{{ form.email }}"
                          aria-required="true"
                          autocorrect="off"
                          autocapitalize="off"
                          autocomplete="email"
                          {% if form.errors %}
                            autofocus
                            aria-invalid="true"
                            aria-describedby="ContactFooter-error"
                          {% elsif form.posted_successfully? %}
                            aria-describedby="ContactFooter-success"
                          {% endif %}
                          placeholder="{{ 'newsletter.label' | t }}"
                          required
                        >
                        <label class="field__label" for="NewsletterForm--{{ section.id }}">
                          {{ 'newsletter.label' | t }}
                        </label>
                        <button
                          type="submit"
                          class="newsletter-form__button field__button"
                          name="commit"
                          id="Subscribe"
                          aria-label="{{ 'newsletter.button_label' | t }}"
                        >
                          {% render 'icon-arrow' %}
                        </button>
                      </div>
                      {%- if form.errors -%}
                        <small class="newsletter-form__message form__message" id="ContactFooter-error">
                          {%- render 'icon-error' -%}
                          {{- form.errors.translated_fields.email | capitalize }}
                          {{ form.errors.messages.email -}}
                        </small>
                      {%- endif -%}
                    </div>
                    {%- if form.posted_successfully? -%}
                      <h3
                        class="newsletter-form__message newsletter-form__message--success form__message"
                        id="ContactFooter-success"
                        tabindex="-1"
                        autofocus
                      >
                        {% render 'icon-success' -%}
                        {{- 'newsletter.success' | t }}
                      </h3>
                    {%- endif -%}
                  {%- endform -%}
                </div>
              {%- endif -%}

              <div class="
                tw-text-sm
                max-md:tw-mt-4 
                md:tw-row-start-6 
                md:tw-flex
                md:tw-items-center
                lg:tw-col-span-3
                lg:tw-col-start-4
                lg:tw-row-start-2">Change your cookie consent</div>


              <div class="
                max-lg:tw-hidden
                lg:tw-col-span-3
                lg:tw-col-start-4
                lg:tw-row-start-3">
                <p class="tw-text-sm">Copyright Canton Tea {{ 'now' | date: '%Y' }}</p>
              </div>

            </div>

            <div class="
              lg:tw-col-span-8
              max-md:tw-mt-20
              tw-grid
              tw-gap-y-16
              md:tw-gap-y-4
              md:tw-grid-rows-6
              md:tw-auto-rows-fr
              lg:tw-gap-x-4
              lg:tw-grid-rows-3
              lg:tw-grid-cols-8
            ">
              
              <div class="
                max-md:tw-order-2
                md:tw-row-start-1 
                md:tw-row-span-2
                lg:tw-col-span-4
                lg:tw-row-start-1
                lg:tw-col-start-5">
                {%- for block in section.blocks -%}
                  {%- case block.type -%}
                  {%- when 'link_list' -%}
                  {%- if block.settings.menu != blank -%}
                    <ul class="footer-block__details-content list-unstyled tw-mb-0 [&_li]:tw-border-t [&_li:last-child]:tw-border-b [&_li]:tw-border-stroke-gray [&_li]:tw-mr-0">
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          <a
                            href="{{ link.url }}"
                            class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %} tw-py-5 tw-uppercase tw-font-heading tw-tracking-widest"
                          >
                            {{ link.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}

                  {%- endcase -%}
                  {%- endfor -%}  
              </div>

     
              {%- if settings.brand_description != blank -%}
                <div class="
                  max-md:tw-order-3
                  lg:tw-hidden 
                  md:tw-row-start-4
                  tw-text-sm rte tw-text-balance [&_p]:tw-max-w-3/5">
                    {{ settings.brand_description }}
                </div>
              {%- endif -%}
            
              <div class="
                max-md:tw-order-1
                md:tw-row-start-5
                lg:tw-col-span-4
                lg:tw-row-start-1">
                  {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
                    <noscript>
                      {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
                        <div class="localization-form__select">
                          <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                          <select
                            class="localization-selector link"
                            name="country_code"
                            aria-labelledby="FooterCountryLabelNoScript"
                          >
                            {%- for country in localization.available_countries -%}
                              <option
                                value="{{ country.iso_code }}"
                                {%- if country.iso_code == localization.country.iso_code %}
                                  selected
                                {% endif %}
                              >
                                {{ country.name }} ({{ country.currency.iso_code }}
                                {{ country.currency.symbol }})
                              </option>
                            {%- endfor -%}
                          </select>
                          {% render 'icon-caret' %}
                        </div>
                        <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
                      {%- endform -%}
                    </noscript>
                    <localization-form class="[&_form]:tw-p-0 [&_form]:tw-mr-0 [&_form]:tw-w-full">
                      {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
                        <div class="no-js-hidden tw-grid tw-gap-y-1 [&_button]:tw-m-0 [&_button]:tw-bg-button-gray [&_button]:tw-text-blacker [&_button]:tw-font-heading">
                          <p class="tw-text-sm tw-font-normal tw-font-body tw-min-h-[33px] tw-flex tw-items-end tw-relative tw-top-[-5px]" id="FooterCountryLabel">Currency</p>
                          {%- render 'country-localization', localPosition: 'FooterCountry' -%}
                        </div>
                      {%- endform -%}
                    </localization-form>
                  {%- endif -%}
                </div>
              
              <div class="
                max-md:tw-order-4
                max-md:tw-mt-20
                lg:tw-hidden 
                md:tw-row-start-6
                md:tw-flex 
                md:tw-items-center">
                <p class="tw-text-sm">Copyright Canton Tea {{ 'now' | date: '%Y' }}</p>
              </div>
              
              <div class="
                max-lg:tw-hidden
                lg:tw-col-span-4">
                {%- if section.settings.show_social and has_social_icons -%}
                  {%- render 'social-icons', class: 'tw-justify-start [&_li:nth-child(1)>:link]:tw-pl-0 [&_:link]:tw-pt-2 [&_:link]:tw-text-clickable-gray' -%}
              {%- endif -%}
              </div>
            </div>

        </div>

      </div>
  
  {%- endif -%}

</footer>

{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content",
      "info": "t:sections.footer.settings.header__9.info"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__8.content",
      "info": "t:sections.footer.settings.header__8.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": false,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
