{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="tw-px-4 md:tw-px-16">

    <h1 class="tw-font-body tw-font-normal tw-text-md tw-py-4 tw-border-b tw-border-stroke-gray {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {{ page.title | escape }}
    </h1>
    {% if page.content %}
      <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ page.content }}
      </div>
    {% endif %}

    {% for item in page.metafields.custom.page_content_blocks.value -%}
    <div class="
      tw-grid tw-gap-8 tw-border-b tw-border-stroke-gray tw-py-4
      lg:tw-grid-cols-16">

      {% if item.quote_content_placement %}
        <div class="
          tw-self-start
          {% if item.layout %}lg:tw-col-span-6{% else %}lg:tw-col-span-8{% endif %}
        ">
          <h2 class="tw-text-xl tw-font-normal lg:tw-text-3xl">
            {{ item.heading }}
          </h2>
        </div>
      {% endif %}

      {% if item.main_quote %}
      <div class="
        tw-grid tw-grid-cols-1 tw-grid-rows-1 tw-row-auto
        {% if item.layout %}lg:tw-col-span-6{% else %}lg:tw-col-span-8{% endif %}
        {% if item.quote_content_placement %}
          tw-order-3
          {% if item.description %}lg:tw-row-start-3{% else %}lg:tw-row-start-2{% endif %}
        {% endif %}
      ">
            
            <div class="
              {% if item.vertical_alignment %}tw-self-start{% else %}tw-self-center{% endif %}
              [&_div]:tw-mb-12">
              {{ item.secondary_quote | metafield_tag }}
              <h2 class="
                tw-text-xl tw-font-normal
                {% if item.smaller_font_size %}lg:tw-text-2xl{% else %}lg:tw-text-3xl{% endif %}
                {% if item.mobile_devices_display %}[&_div>p]:tw-inline lg:[&_div>p]:tw-block{% endif %}
                {% if item.quote_content_placement %}[&_p]:tw-mb-12{% endif %}">
                {{ item.main_quote | metafield_tag }}
              </h2>
            </div>
            <p>-{{ item.author }}</p>
      </div>

      {% else %}

        <div class="
          tw-flex tw-flex-col
          {% if item.layout %}lg:tw-col-span-5{% else %}lg:tw-col-span-8{% endif %}
          {% if item.vertical_alignment %}tw-justify-start{% else %}tw-justify-center{% endif %}
          {% if item.description == blank %} tw-mb-4 {% endif %}
        ">
          <h2 class="
            tw-text-xl tw-font-normal
            {% if item.smaller_font_size %}lg:tw-text-2xl{% else %}lg:tw-text-3xl{% endif %}
            {% if item.mobile_devices_display %}[&_div>p]:tw-inline lg:[&_div>p]:tw-block{% endif %}">
              {{ item.heading | metafield_tag }}
          </h2>
        </div>
      {% endif %}

      <div class="
        max-lg:tw-order-first
        {% if item.quote_content_placement %}lg:tw-col-start-9{% endif %}
        {% if item.layout %}lg:tw-col-span-10 lg:tw-col-start-7{% else %}lg:tw-col-span-8{% endif %}
      ">
        {% assign medias = item.media.value %}

        {% if medias %}

          {% if item.collage %}
            <div class="
              tw-grid tw-grid-cols-2 tw-gap-4
              [&_img:first-of-type]:tw-col-span-full [&_img:first-of-type]:tw-row-start-1 [&_img]:tw-col-span-1 [&_img]:tw-row-start-2">
              {% for media in medias %}
                <img
                  class="global-media-settings global-media-settings--no-shadow tw-w-full"
                  srcset="{{ media | image_url: width: 550 }} 550w,
                          {{ media | image_url: width: 1100 }} 1100w,
                          {{ media | image_url: width: 1445 }} 1445w,
                          {{ media | image_url: width: 1680 }} 1680w,
                          {{ media | image_url: width: 2048 }} 2048w,
                          {{ media | image_url: width: 2200 }} 2200w,
                          {{ media | image_url: width: 2890 }} 2890w,
                          {{ media | image_url: width: 4096 }} 4096w,
                          {{ media | image_url }} {{ media.width }}w"
                  sizes="(min-width: 750px) calc(100vw - 22rem), 1100px"
                  src="{{ media | image_url: width: 1445 }}"
                  alt="{{ media.alt | escape }}"
                  loading="lazy"
                  width="1100"
                  height="{{ 1100 | divided_by: home_featured_product.aspect_ratio | ceil }}"
                  data-media-id="{{ media.id }}"
                >
              {% endfor %}
            </div>

          {% else %}
            
            <div class="
              tw-grid tw-gap-4
              {% if item.media_column %}tw-grid tw-grid-cols-2{% elsif item.grid %}tw-grid-cols-3 tw-items-center tw-justify-center tw-py-12{% else %}[&_img]:tw-w-full{% endif %}">
              {% for media in medias %}
                <img class="{% if item.grid %}tw-w-5/6 tw-mx-auto{% endif %}"
                  srcset="{{ media | image_url: width: 550 }} 550w,
                          {{ media | image_url: width: 1100 }} 1100w,
                          {{ media | image_url: width: 1445 }} 1445w,
                          {{ media | image_url: width: 1680 }} 1680w,
                          {{ media | image_url: width: 2048 }} 2048w,
                          {{ media | image_url: width: 2200 }} 2200w,
                          {{ media | image_url: width: 2890 }} 2890w,
                          {{ media | image_url: width: 4096 }} 4096w,
                          {{ media | image_url }} {{ media.width }}w"
                  sizes="(min-width: 750px) calc(100vw - 22rem), 1100px"
                  src="{{ media | image_url: width: 1445 }}"
                  alt="{{ media.alt | escape }}"
                  loading="lazy"
                  width="1100"
                  height="{{ 1100 | divided_by: home_featured_product.aspect_ratio | ceil }}"
                  data-media-id="{{ media.id }}"
                >
              {% endfor %}
            </div>

          {% endif %}

        {% endif %}

        
      </div>

      {% if item.description %}
        <div class="
          max-lg:tw-mb-4
          lg:tw-pb-8
          {% if item.layout %}lg:tw-col-span-10 lg:tw-col-start-7{% else %}lg:tw-col-span-8 lg:tw-col-start-9{% endif %}
          {% if item.quote_content_placement %}max-lg:order-2{% else %}max-lg:tw-order-last{% endif %}
        ">
          {{ item.description | metafield_tag }}
        </div>
      {% endif %}

    </div>
    {%- endfor %}
    
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
