<section class="page-width">

  <div class="tw-grid tw-gap-x-4 tw-gap-y-16 md:tw-grid-cols-2 lg:tw-grid-cols-16 tw-border-t tw-border-stroke-gray tw-mt-4 tw-pt-4 tw-pb-16">

    <div class="lg:tw-col-span-5">

      <div class="tw-sticky tw-top-4">
        <h2 class="tw-font-body tw-font-normal tw-text-sm tw-mb-4">flavour profile</h2>

        <h3 class="tw-font-normal tw-text-balance tw-text-xl lg:tw-text-2xl">
          {{ product.metafields.flavour_profile.flavours.value }}
        </h3>

        {% if product.metafields.flavour_profile.copy.value %}

          <div class="tw-mt-16 rte">
            {{ product.metafields.flavour_profile.copy.value }}
          </div>

        {% endif %}

      </div>

    </div>
    <div class="lg:tw-col-start-8 lg:tw-col-span-9 tw-space-y-4">
      {% for image in product.metafields.flavour_profile.images.value %}
        <img
          alt=""
          loading="lazy"
          width="{{ image.width }}"
          height="{{ image.height }}"
          src=" {{ image | image_url: width: '1640x' }}"
          sizes="
                (min-width: 1600px) calc((1600px - 2 * 1.5rem) * 1 / 2),
                (min-width: 1440px) calc((1440px - 2 * 1.5rem) * 1 / 2),
                (min-width: 1024px) calc((1024px - 2 * 1.5rem) * 1 / 2),
                (min-width: 768px) calc((768px - 2 * 1.5rem) * 1 / 2),
                (min-width: 570px) calc(100vw - 2 * 1.5rem),
                100vw"
          data-aspectratio="{{ image.aspect_ratio }}"
          data-sizes="auto"
        />
      {% endfor %}
    </div>

  </div>

</section>

{% schema %}
{
  "name": "Flavour Profile",
  "class": "flavour-profile",
  "presets": [
    {
      "name": "Flavour Profile"
    }
  ]
}
{% endschema %}
