<div class="tw-container">
    <div class="tw-grid md:tw-grid-cols-2 lg:tw-grid-cols-12 tw-border-b tw-border-stroke-grey tw-gap-3 tw-pt-3">
      
      <div class="lg:tw-col-span-5">

        <div class="tw-sticky tw-top-2.5 tw-mb-3">
          <div class="tw-text-xs tw-mb-3">Origin</div>
          <h3 class="tw-mb-12 tw-tracking-[-1px] tw-capitalize">
            {{ product.metafields.origin.countries.value }}
          </h3>
          <div class="tw-font-body md:tw-w-3/4">
            {{ product.metafields.origin.copy.value }}
          </div>
        </div>

      </div>

      <div class="lg:tw-col-span-7">

        <!-- CANT MAKE THE SVG TO FULLY DISPLAY
        <div>
          <svg>
            <image xlink:href="{{ product.metafields.origin.image.value.url }}" />    
          </svg>
        </div> -->

        {% assign originFile = product.metafields.origin.images.value %}
        {% for image in originFile %}
          <img
            class="mx-auto"
            loading="lazy"
            src=" {{ image | image_url: width: '1640x' }}"
            sizes="
                  (min-width: 1600px) calc((1600px - 2 * 1.5rem) * 1 / 2),
                  (min-width: 1440px) calc((1440px - 2 * 1.5rem) * 1 / 2),
                  (min-width: 1024px) calc((1024px - 2 * 1.5rem) * 1 / 2),
                  (min-width: 768px) calc((768px - 2 * 1.5rem) * 1 / 2),
                  (min-width: 570px) calc(100vw - 2 * 1.5rem),
                  100vw"
            data-aspectratio="{{ image.aspect_ratio }}"
            data-sizes="auto"
          />
        {% endfor %}
  
      </div>

    </div>

</div>

{% schema %}
{
  "name": "Origin",
  "class": "origin",
  "presets": [
    {
      "name": "Origin"
    }
  ]
}
{% endschema %}