<section class="page-width">

  <div class="tw-grid tw-gap-4 md:tw-grid-cols-2 lg:tw-grid-cols-16 tw-border-t tw-border-gray tw-mt-4 tw-pt-4">

    <div class="lg:tw-col-span-5">

      <div class="tw-sticky tw-top-4">
        <h2 class="tw-font-body tw-font-normal tw-text-sm tw-mb-4">section title?</h2>

        <h3 class="tw-font-normal tw-text-balance tw-text-xl lg:tw-text-2xl">
          {{ product.metafields.quote.text.value }}
        </h3>
      </div>

    </div>
    <div class="lg:tw-col-start-8 lg:tw-col-span-9 tw-space-y-4">
      {% for image in product.metafields.quote.images.value %}
        <img
          alt=""
          loading="lazy"
          width="{{ image.width }}"
          height="{{ image.height }}"
          src=" {{ image | image_url: width: '1640x' }}"
          sizes="
                (min-width: 1600px) calc((1600px - 2 * 1.5rem) * 1 / 2),
                (min-width: 1440px) calc((1440px - 2 * 1.5rem) * 1 / 2),
                (min-width: 1024px) calc((1024px - 2 * 1.5rem) * 1 / 2),
                (min-width: 768px) calc((768px - 2 * 1.5rem) * 1 / 2),
                (min-width: 570px) calc(100vw - 2 * 1.5rem),
                100vw"
          data-aspectratio="{{ image.aspect_ratio }}"
          data-sizes="auto"
        />
      {% endfor %}
    </div>

  </div>

</section>

{% schema %}
{
  "name": "Quote",
  "class": "quote",
  "presets": [
    {
      "name": "Quote"
    }
  ]
}
{% endschema %}
