<section class="page-width">

  <div class="tw-grid tw-gap-4 md:tw-grid-cols-2 lg:tw-grid-cols-16 tw-border-t tw-border-gray tw-mt-4 tw-pt-4">

    <div class="lg:tw-col-span-5">

      <div class="tw-sticky tw-top-4">
        {% if section.settings.subtitle %}
          <h2 class="tw-font-body tw-font-normal tw-text-sm tw-mb-4 lowercase">
            {{ section.settings.subtitle }}
          </h2>
        {% endif %}

        {% if section.settings.heading %}
          <h3 class="tw-font-normal tw-text-balance tw-text-xl lg:tw-text-2xl">
            {{ section.settings.heading }}
          </h3>
        {% endif %}

        {% if section.settings.copy %}
          <div class="tw-mt-16 rte">
            {{ section.settings.copy }}
          </div>
        {% endif %}

      </div>

    </div>
    <div class="lg:tw-col-start-8 lg:tw-col-span-9 tw-space-y-4">
       {% for block in section.blocks %} 
          {% case block.type %}

          {% when 'select' %}
            {%- assign media = block.settings.image -%}
            <img
            alt="{{ media.alt }}"
            loading="lazy"
            width="{{ media.width }}"
            height="{{ media.height }}"
            src=" {{ media | image_url: width: '1640x' }}"
            sizes="
                  (min-width: 1600px) calc((1600px - 2 * 1.5rem) * 1 / 2),
                  (min-width: 1440px) calc((1440px - 2 * 1.5rem) * 1 / 2),
                  (min-width: 1024px) calc((1024px - 2 * 1.5rem) * 1 / 2),
                  (min-width: 768px) calc((768px - 2 * 1.5rem) * 1 / 2),
                  (min-width: 570px) calc(100vw - 2 * 1.5rem),
                  100vw"
            data-aspectratio="{{ media.aspect_ratio }}"
            data-sizes="auto"
          />

          {% when 'html' %}
          {{ block.settings.svg }}

        {% endcase %} 
      {% endfor %}

    </div>

  </div>
</section>

{% schema %}
{
  "name": "t:sections.product-section.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.product-section.settings.paragraph__1.content"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "t:sections.product-section.settings.subtitle.label"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:sections.product-section.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "copy",
      "label": "t:sections.product-section.settings.copy.label"
    }
  ],
  "blocks": [
    {
      "type": "select",
      "name": "Image",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image picker"
        } 
      ]
    },
    {
      "type": "html",
      "name": "SVG code",
      "settings": [
        {
          "id": "svg",
          "type": "html",
          "label": "Paste code"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-section.name"
    }
  ]
}
{% endschema %}
